<div class="modalcontainer">

  <ng-container *ngIf="!onBooard">
    <ion-item>
      <ion-label>Tableros</ion-label>
      <ion-select (ionChange)="getColumns($event)" [(ngModel)]="newCard.tabletId">
        <ion-select-option [value]="tablero.id" *ngFor="let tablero of data;">{{tablero.titulo}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Lista</ion-label>
      <ion-select [(ngModel)]="newCard.columnId">
        <ng-container *ngIf="colums.length > 0">

          <ion-select-option [value]="column.id" *ngFor="let column of colums;">{{column.name}}</ion-select-option>
        </ng-container>
      </ion-select>
    </ion-item>
  </ng-container>

  <div class="card-tarjeta">
    <ion-item>
      <ion-input placeHolder="nombre" [(ngModel)]="newCard.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeHolder="description" [(ngModel)]="newCard.description"></ion-input>
    </ion-item>

    <ion-item>
      <ion-datetime [(ngModel)]="newCard.expireData"  displayFormat="DDD MMM YYYY" placeholder="fecha de entrga"></ion-datetime>
    </ion-item>

    <!-- <ion-item>
        <ion-label position="floating">MM/DD/YYYY</ion-label>
        <ion-datetime [(ngModel)]="newCard.startData" displayFormat="MM/DD/YYYY" min="2021-01-01" max="2030-01-01"></ion-datetime>
      </ion-item>
      <ion-item >
        <ion-input placeHolder="expireData" [(ngModel)]="newCard.expireData" ></ion-input>
      </ion-item> -->
  </div>


  <div class="btn-fab">
    <ion-fab-button (click)="sendTofireStoreCard()" size="small">
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="closesTarjetamodal()" size="small">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </div>

</div>