<div class="modalcontainer" >
  <!-- <div class="btns-send-close">
    <div class="titulo-txt">
      <ion-button (click)="closesTarjetamodal()" >
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="sendTofireStoreCard()" >
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
    </div>
  </div> -->

  <ion-item >
    <ion-label >Tableros</ion-label>
    <ion-select (ionChange)="getColumns($event)" [(ngModel)]="newCard.tabletId" >
      <ion-select-option [value]="tablero.id" *ngFor="let tablero of data;"  >{{tablero.titulo}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item >
    <ion-label >Lista</ion-label>
    <ion-select [(ngModel)]="newCard.columnId" >
      <ng-container *ngIf="colums.length > 0">

        <ion-select-option [value]="column.id" *ngFor="let column of colums;"  >{{column.name}}</ion-select-option>
      </ng-container>
    </ion-select>
  </ion-item>
  <div class="card-tarjeta">
    <ion-item >
    <ion-input placeHolder="nombre" [(ngModel)]="newCard.name" ></ion-input>
  </ion-item>
  <ion-item >
    <ion-input placeHolder="description" [(ngModel)]="newCard.description" ></ion-input>
  </ion-item>
 
  <ion-item>
    <ion-label position="floating">MM/DD/YYYY</ion-label>
    <ion-datetime displayFormat="MM/DD/YYYY" min="1994-03-14" max="2012-12-09"></ion-datetime>
  </ion-item>
  <ion-item >
    <ion-input placeHolder="expireData" [(ngModel)]="newCard.expireData" ></ion-input>
  </ion-item>
  </div>

  <ion-fab (click)="stop($event)" horizontal="start" vertical="bottom" slot="fixed">
    <ion-fab-button size="small">
        <ion-icon name="settings-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
        <ion-fab-button (click)="closesTarjetamodal()">
          <ion-icon name="close"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="sendTofireStoreCard()">
          <ion-icon name="checkmark"></ion-icon>
        </ion-fab-button>

    </ion-fab-list>
</ion-fab>
  
</div>