.popover{
    
    display: flex;
    color: white;
    height: 5vh;
    align-items: center;
    p{
        
        margin-left: 15px !important;
        font-size: 13px;
        margin: 0;
    }
   ion-icon{
    margin-left: 10px;
    font-size: 1.2rem;
   }
}

p{
    width: 90%;
    color: white;
    font-size: 0.7rem;
    margin-left: 35px;
    margin-top: -10px;

}

h3{
    font-size: 1rem;
    color: white;
}

.gabo{
    display: flex;
    

}

ion-icon{
    color: white;
}
// .delete-edit{
    
//     color: white;
//     font-size: 0.7rem;
    
//     margin-top: -10px; 
// }

