.container{
    padding: 10px;
}
.delete{
    display: flex;
    
    ion-icon{
        font-size: 2rem;
    }
}
.edit{
    display: flex;
    ion-icon{
        font-size: 2rem;
    }
}