<ion-content>
  <div class="header">
    <div class="titulo-txt">
      <div class="btn-tablero-name">

        <ion-button (click)="goToDashbor()">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
        <p>{{tableros.titulo}}</p>
      </div>
      <ion-button>
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </div>
  </div>
  <div class="btn-colunm">
    <ion-button (click)="changeShowInput()" *ngIf="!showInput">
      <ion-icon name="add-outline"></ion-icon>
      añadir lista
    </ion-button>
  </div>
  <ng-container *ngIf="showInput">

    <div class="input-create-colunm">
      <ion-item *ngIf="showInput">
        <ion-button (click)="changeShowInput(false)">
          <ion-icon name="close"></ion-icon>
        </ion-button>

        <ion-input [(ngModel)]="newColumn.name"></ion-input>
        <ion-button (click)="sendTofireStoreColumn()">
          <ion-icon name="checkmark"></ion-icon>
        </ion-button>
      </ion-item>
    </div>

  </ng-container>
  <ion-slides *ngIf="!shwoModalTarjeta" class="slide-tablets; padding-bottom: 4rem;" [options]="optionsSlide" pager="true">
    <ng-container *ngIf="columns.length > 0">
      <ion-slide class="swiper-no-swiping" *ngFor="let column of columns; let i = index">
        <div class="container" >
          <div class="columna">
            <div class="columna-header">
              <div *ngIf="!column?.edit">
                {{column.name}}
              </div>
              <ion-item *ngIf="column?.edit">
                <ion-button (click)="closeEdit(i)">
                  <ion-icon name="close"></ion-icon>
                </ion-button>
                <ion-input placeHolder="nombre" [(ngModel)]="columns[i].name"></ion-input>
                <ion-button (click)="sendToFireStoreUpdateColunm(column.id,i)">
                  <ion-icon name="checkmark"></ion-icon>
                </ion-button>
              </ion-item>

              <ion-button class="btn-popover" (click)="openPopoverColunm($event, false, column.id, i)">
                <ion-icon name="ellipsis-vertical-outline"></ion-icon>
              </ion-button>
            </div>
            <div [id]="column.id" style="min-height:200px; padding-bottom: 4rem;" (drop)="drop($event)" (dragover)="allowDrop($event)">
              <div  *ngFor="let tarjeta of tarjetas;let indexCard = index">
                <div *ngIf="tarjeta.columnId == column.id" class="card-tarjeta" [attr.draggable]="true" (dragstart)="drag($event, tarjeta.id, column.id)" [attr.data-id]="indexCard">

                  <p>{{tarjeta.name}}</p>
                  <p>{{tarjeta.description}}</p>
                  <p>{{tarjeta.timestamp + "000"  | date:  "dd/MMM/yy" }} </p>
                  <p >{{tarjeta.expireData | date:  "dd/MMM/yy"}}</p>
                  <div class="btn-fab-card">
                    <ion-fab-button size="small" (click)="deleteTarjeta(tarjeta.id)">
                      <ion-icon name="trash-outline"></ion-icon>
                    </ion-fab-button>
                    <ion-fab-button size="small" (click)="updateCard(tarjeta,  column.id)">
                      <ion-icon name="create-outline"></ion-icon>
                    </ion-fab-button>
                  </div>
                </div>
              </div>
            </div>

            <div class="btn-create-colunm">
              <ion-button (click)="openPopoverTarjeta(column.id)">
                <ion-icon name="add-outline"></ion-icon>
                añadir tarjeta
              </ion-button>
            </div>

          </div>
        </div>
      </ion-slide>
    </ng-container>
  </ion-slides>





</ion-content>