ion-content {
  --background: linear-gradient(0deg, rgb(1 162 255) 1%, rgb(10 129 197) 26%, rgba(111, 0, 255, 1) 64%);
}

.header {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  .titulo-txt {
    .btn-tablero-name{
      display: flex;
    }
    display: flex;
    justify-content: space-between;
    color: white;
  }
  
  ion-button {
    --background: transparent;
    ion-icon {
      font-size: 1.5rem;
      color: white;
    }
  }
}

ion-fab-button {

  --background: rgb(111, 113, 114);
  // --background: linear-gradient(0deg, rgba(1,162,255,1) 0%, rgba(5,157,255,1) 1%, rgba(111,0,255,1) 52%);
  filter: drop-shadow(2px 2px 10px black);
  --background: #443c3ca6;
}



.container {
  margin-top: 20px;
  padding: 10px;
  width: 100%;

  .columna {
    background: #777677c7 84%;
    border: 1px solid rgb(97 42 177 / 27%);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    width: 100%;
    // height: auto;
    border-radius: 25px;
    padding: 10px 20px;
    color: white;
    font-size: 16px;

    .columna-header {
      width: 100%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      margin-top: 20px;

      ion-item {
        width: 100%;

        ion-button {
          --background: transparent;
        }
      }

    }
  }
}

.anadir-txt {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: white;
  font-size: 14px;
}

ion-fab {
  ion-fab-button {
    ion-fab-list {
      width: 50%;
      display: flex;
      justify-content: space-between;

      .btn-fab {

        margin-top: 10px;

        p {
          margin-right: 10px;
          color: white;
          width: 50%;
        }

        ion-fab-button {
          width: 50%;
        }
      }
    }
  }
}



.input-create-colunm {

  background: rgba(1, 162, 255, 1) 50%;

  width: 80%;
  display: flex;
  margin: auto;
  border-radius: 15px;

  ion-item {
    --background: transparent;
    display: flex;
    justify-content: space-between;

    ion-button {
      --background: transparent;
    }
  }
}

.dad-container-test {
  width: 100%;
  height: 30rem; 
  .drop-zone {
    
    height: 100%;
    width: 100%;  
  }  
}

ion-slide {
  width: 80%;
  display: flex;
  justify-content: center;

  .card-tarjeta {
    width: 100%;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    background: white;
    color: black;
    // background: rgb(7, 85, 224);
    // background: linear-gradient(0deg, rgba(7, 85, 224, 1) 20%, rgba(1, 162, 255, 1) 50%);
    border: 1px solid rgb(97 42 177 / 27%);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  }
}

.btn-colunm{
  width: 35%;
  margin-left: 50px;
  ion-button {
    // display: flex;
    // margin: auto;
    // font-size: 1rem;
    --background: white;
    color: black;
    border-radius: 20px;
  }
}

.btn-create-tarjeta {
  width: 35%;
  margin-left: 50px;
  ion-button {
    display: flex;
    margin: auto;
    font-size: 1rem;
    --background: white;
    color: black;
    border-radius: 20px;
  }
}

    .btn-create-colunm {
      width: 100%;
      margin-top: 50px;
      --background: transparent;
      ion-button {
        --width: 80%;
        display: flex;
        margin: auto;
        --background: transparent;
        // --background: white;
        color: white;
      }
    }

.btn-fab-card {
  display: flex;
  justify-content: space-between;
}

.btn-column {
  margin-left: 50px;

}

.btn-popover {
  --background: transparent;
}



.grid-container {
}

.text-item {
  width: fit-content;
  min-width: 2rem;
  min-height: 2rem;
}

.drag-grid {
  max-width: fit-content;
}

.card-tarjeta {
  cursor: grab;
}

.card-tarjeta:active {
  cursor: grabbing;
}

.card-tarjeta {
  transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.card-tarjeta.dragging {
  opacity: .5;
  transform: scale(.8);
}
.columna {
  transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.columna.drop {
  border: 2px dashed #FFF;
}

.columna.drop article {
  pointer-events: none;
}