<ion-content>
  <div class="header">
    <div class="titulo-txt">
      <ion-button (click)="goToDashbor()" *ngIf="!showInput">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="changeShowInput(false)" *ngIf="showInput">
        <ion-icon name="close"></ion-icon>
      </ion-button>
      {{ !showInput ? "nombre del talero" : 'Añadir lista'}}
    </div>
    <ion-button *ngIf="!showInput">
      <ion-icon name="menu"></ion-icon>
    </ion-button>
    <ion-button (click)="sendTofireStoreColumn()" *ngIf="showInput">
      <ion-icon name="checkmark"></ion-icon>
    </ion-button>
  </div>
  <ion-slides class="slide-tablets" [options]="optionsSlide" pager="true">
    <ng-container *ngIf="columns.length > 0">
      <ion-slide *ngFor="let column of columns; let i = index">
        <div class="container">
          <div class="columna">
            <div class="columna-header">
              <div *ngIf="!column?.edit">
                {{column.name}}
              </div>
              <ion-item *ngIf="column?.edit">
                <ion-input placeHolder="nombre" [(ngModel)]="column.name" ></ion-input>
              </ion-item>

              <ion-icon name="ellipsis-vertical-outline"></ion-icon>
            </div>
            <div class="btn-create-colunm">
              <ion-button (click)="openModalTarjeta()" (click)="changeShowInputCard()">
                <ion-icon name="add-outline"></ion-icon>
                anadir tarjeta
              </ion-button>
            </div>
            <!-- <div>
              
              <ion-item >
                <ion-input placeHolder="nombre" [(ngModel)]="newCard.name" ></ion-input>
              </ion-item>
            </div> -->
            <div  *ngIf="column?.edit" class="anadir-txt">
              <ion-button (click)="closeEdit(i)">
                <ion-icon name="close"></ion-icon>
              </ion-button>
            </div>
            <div class="card-tarjeta" *ngFor="let tarjeta of tarjetas" >
              
              <p>{{tarjeta.name}}</p>
              <p>{{tarjeta.description}}</p>
              <p>fecha de inicio </p>
              <p>fecha de entrega</p>
              <ion-button (click)="deleteTarjeta(tarjeta.id)">eliminar tarjeta</ion-button>
            </div>

            <div  *ngIf="!column?.edit" class="anadir-txt">
              <ion-button (click)="editColumns(i)" >editar</ion-button>
              <ion-button (click)="delete(column.id)">eliminar</ion-button>
            </div>
          </div>
        </div>
      </ion-slide>
    </ng-container>
    <ion-slide>
      <!-- boton aqui -->
      <div class="btn-create-colunm">
        <ion-button (click)="changeShowInput()" *ngIf="!showInput">
          <ion-icon name="add-outline"></ion-icon>
          anadir lista
        </ion-button>
      </div>

      <div class="input-create-colunm">
        <ion-item *ngIf="showInput">
          <ion-input [(ngModel)]="newColumn.name" ></ion-input>
        </ion-item>
      </div>
    </ion-slide>
  </ion-slides>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button class="fab-button">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <div class="btn-fab">
        <p class="letras">acercar</p>
        <ion-fab-button (click)="show=!show" (click)="openModal()">
          <ion-icon name="newspaper-outline"></ion-icon>
        </ion-fab-button>
      </div>
      <div class="btn-fab">
        <p class="letras">alejar</p>
        <ion-fab-button>
          <ion-icon name="reader-outline"></ion-icon>
        </ion-fab-button>
      </div>
      <div class="btn-fab">
        <p class="letras">agregar columna</p>
        <ion-fab-button>
          <ion-icon name="reader-outline"></ion-icon>
        </ion-fab-button>
      </div>
    </ion-fab-list>
  </ion-fab>
</ion-content>