<!-- <ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title *ngIf="profile">bienvenido Sr@ {{profile?.name}}</ion-title>
        <ion-button (click)="logOut()">logOut</ion-button>
    </ion-toolbar>
</ion-header> -->

<ion-content>
    <div class="header">
        <app-header (true)="truePropagar($event)" (propagar)="procesaPropagar($event)" ></app-header>
    </div>
    
    <div *ngIf=!shwoModal class="card">
        <!-- *ngIf="show; else showdos" -->
        <div class="profilename">
            !Hola {{profile?.name}} bienvenido...
        </div>

        <div *ngIf="!tableros.length">
            <div class="card-ejemplo">
                <div class="notienestableros">
                    PARECE QUE NO TIENES NINGUN TABLERO.
                </div>
                <br>
                <br>
                <img src="assets/Grupo 6.png">
            </div>

            <div class="legustaria">
                le gustaria crear uno ahora?
                <br>
                toque el signo del mas en la parte inferior!
            </div>

        </div>


        <div *ngIf="tableros.length">
            <ion-list (click)="goTablero(tablero.id)" *ngFor="let tablero of tableros;">
                <ion-item>
                    <ion-card>
                        <ion-card-header class="txt-title">{{tablero.titulo}}</ion-card-header>
                        <ion-card-content>
                            <div class="container-profile-name">
                                <p>{{tablero.workSpace}}</p>
                                <p>{{tablero.Privacy == 1 ? 'Privado' : tablero.Privacy == 2 ? 'Espacio de Trabajo' : 'Publico'  }}
                                </p>
                            </div>
                            <ion-fab (click)="stop($event)" horizontal="start" vertical="bottom" slot="fixed">
                                <ion-fab-button size="small">
                                    <ion-icon name="settings-outline"></ion-icon>
                                </ion-fab-button>
                                <ion-fab-list side="end">
                                    <ion-fab-button (click)="eliminarTableros(tablero.id)">
                                        <ion-icon name="trash-outline"></ion-icon>
                                    </ion-fab-button>
                                    <ion-fab-button (click)="update(tablero)">
                                        <ion-icon name="create-outline"></ion-icon>
                                    </ion-fab-button>

                                </ion-fab-list>
                            </ion-fab>
                            <!-- <ion-button (click)="update(tablero)">edit</ion-button>
                            <ion-button (click)="eliminarTableros(tablero.id)">delet</ion-button> -->
                        </ion-card-content>
                    </ion-card>
                </ion-item>
            </ion-list>
        </div>


    </div>



    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button class="fab-button">
            <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <div class="btn-fab">
                <p class="letras">tablero</p>
                <ion-fab-button (click)="openModal()">
                    <ion-icon name="newspaper-outline"></ion-icon>
                </ion-fab-button>
            </div>
            <div class="btn-fab">
                <p class="letras">tarjetas</p>
                <ion-fab-button (click)="openPopoverTarjeta()">
                    <ion-icon name="reader-outline"></ion-icon>
                </ion-fab-button>
            </div>
        </ion-fab-list>
    </ion-fab>


</ion-content>