<ion-content>

  <ion-slides  pager="true">
    <!-- slide1 -->
    <ion-slide>
      <div>
        <div><img class="logo" src="assets/Trazado 5.png"></div>
        <div>
          <h2><strong>DODOAPP</strong></h2>
        </div>
        <div>
          <ion-button  ><strong>Iniciar sesion</strong></ion-button>
        </div>
        <div>
          <ion-button [routerLink]="['/registro']"><strong>Registro</strong></ion-button>
        </div>
      </div>
    </ion-slide>
    <!-- slide2 -->
    <ion-slide>
      <div>
       
        <div>
          <img class="img-slide2" src="assets/Grupo 10.png">
        </div>
        <div class="organizar">
          <p>Crea un tablero para organizar tareas</p>
        </div>
        <div>
          <ion-button  class="btn-slide2"><strong>Iniciar sesion</strong></ion-button>
        </div>
        <div>
          <ion-button [routerLink]="['/registro']" class="btn-slide2"><strong>Registro</strong></ion-button>
        </div>

      </div>
    </ion-slide>
    <!-- slide3 -->
    <ion-slide>
      <div>
        <div>
          <h5><strong>Añadir detalles</strong></h5>
        </div>
        <div>
          <img class="img-slide3" src="assets/añadir detalles.png">
        </div>
        <div class="organizar">
          <p>Crear tarjetas para añadir imagenes, checklist y mucho mas</p>
        </div>
        <div>
          <ion-button  class="btn-slide3"><strong>Iniciar sesion</strong></ion-button>
        </div>
        <div>
          <ion-button [routerLink]="['/registro']" class="btn-slide3" ><strong>Registro</strong></ion-button>
        </div>
      </div>
    </ion-slide>

  </ion-slides>

  <ion-grid>
    <ion-row>
      <ion-col  class="texto" size-xs="10" size-sm="8" size-lg="8" >
        <ion-footer>
          <div>
            <p>AL CREAR UNA CUENTA, ACEPTAS NUESTRAS CONDICIONES DEL SERVICIO Y NUESTRA POLITICA DE PRIVACIDAD</p>
          </div>
        </ion-footer>
      </ion-col>
    </ion-row>
</ion-grid>

</ion-content>