<ion-content>
  <div><img class="logo" src="assets/Trazado 5.png"></div>

<form [formGroup]="registerForm" (ngSubmit)="onRegister">
  <div>
    <ion-item>
      <ion-label position="floating">NOMBRE </ion-label>
      <ion-input formControlName="name" type="name"> </ion-input>
      <ion-icon name="person"></ion-icon> 
    </ion-item>
  </div>
  <div>
    <ion-item>
      <ion-label position="floating">CORREO </ion-label>
      <ion-input formControlName="email" type="email"> </ion-input>
      <ion-icon name="mail-outline"></ion-icon>
    </ion-item>
  </div>
  <div>
    <ion-item>
      <ion-label position="floating">CONTRASEÑA </ion-label>
      <ion-input formControlName="password" type="password"> </ion-input>
      <ion-icon name="lock-closed-outline"></ion-icon>
    </ion-item>
  </div>
</form>


<div class="btn">
  <ion-button [routerLink]="['/dashbor']" type="submit" (click)="onRegister()">Registro</ion-button>
</div>
<ion-footer>
  <div class="texto">
    <p>AL CREAR UNA CUENTA, ACEPTAS NUESTRAS CONDICIONES DEL SERVICIO Y NUESTRA POLITICA DE PRIVACIDAD</p>
  </div>
</ion-footer>
</ion-content>
